
body {
  font-family: 'Arial', sans-serif;
  background-color:burlywood;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #3a3a3a;
  font-size: 2rem;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskInput {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addButton {
  width: 15%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addButton:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

li.completed {
  text-decoration: line-through;
  color: #aaa;
}

li input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.task-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
}

#clearButton {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#clearButton:hover {
  background-color: #e53935;
}
